[
  {
    "document_type": "invoice",
    "service_name": "ChatGPT Plus Subscription",
    "issuing_party": "OpenAI"
  },
  {
    "document_type": "invoice",
    "service_name": "Google One",
    "issuing_party": "Google"
  },
  { "document_type": "tax-irs-monthly-statement"},
  { "document_type": "social-security-extract"},
  { "document_type": "invoice", "issuing_party": "Vodafone" },
  { "document_type": "invoice-receipt", "issuing_party": "Fidelidade" },
  { "document_type": "salary-slip" },
  { "document_type": "vacation-pay-slip" },
  { "document_type": "social-security-extract" },
  { "document_type": "bank-statement", "issuing_party": "MillenniumBCP" },
  { "document_type": "bank-statement", "issuing_party": "BPI" }
]
